* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background: url('../img/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fafafa;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
  padding: 0.875rem 0.625rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  font-size: 1.25rem;
}

li:hover {
  background: #ffa754;
  border-radius: 0.25rem;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fafafa;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  margin-top: 6rem ;
  text-transform: uppercase;
  color: #ffa754;
}

h1{
  font-size: 3.5rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

p{
  font-size: 1.125rem;
  margin-top: 1.25rem;
  max-width: 600px;
}