* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background: url('../img/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fafafa;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
  padding: 0.875rem 0.625rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 a {
  font-weight: 700;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header nav ul li a {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.header nav ul li a:hover {
  background: #ffa754;
  transition: 0.3s ease;
}

/* HERO */
.hero h3 {
  font-size: 1.25rem;
  margin-top: 6rem;
  text-transform: uppercase;
  color: #ffa754;
}

.hero h2 {
  font-size: 3.5rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.125rem;
  margin-top: 1.25rem;
  max-width: 600px;
}

@media (max-width: 425px) {
  .header nav ul {
    gap: 0;
  }
  .hero h3 {
    font-size: 1rem;
    margin-top: 5rem;
  }
  .hero h2 {
    font-size: 2.75rem;
  }
  .hero p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
